.caixa {
    background-color: var(--branco);
    margin: auto;
    width: 90%;
    max-width: 500px;
    height: 500px;
}

.display {
    display: grid;
    grid-template-areas: "menu  lista";
    margin: auto;
    width: 300px;
    height: 270px;
}

.entrada {
    background-color: var(--branco);
    margin: 1rem 2rem 1rem 0.3rem;
    text-align: center;
    width: 100px;
    
}

.areas {
    display: block;
    padding-bottom: 1rem;
    text-align: left;
}

input#despesa {
    width: 110px;
}

input#valor {
    width: 110px;
}

.status-pagamento {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: left;
}

.botao-adicionar {
    margin: auto;
    padding-top: 0.7rem;
    width: 100px;
}

input#adicionar {
    background-color: var(--vermelho);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    padding: 5px;
    width: 90px;
}

input#adicionar:hover {
    background-color: var(--vermelho-escuro);
}

.lista {
    background-color: var(--branco);
    border: 1px solid var(--preto);
    color: var(--preto);
    margin: 1rem 1rem 1rem 0;
    width: 150px;
}

.tabela {
    background-color: var(--branco);
    margin: auto;
    height: 190px;
    overflow-y: scroll;
    width: 90%;
}

.total-entrada {
    background-color: var(--cinza-claro);
    font-size: 12px;
    margin: auto;
    padding: 2px 0 2px 4px;
}

.saida {
    background-color: var(--azul-claro);
    border: 1px solid var(--preto);
    border-radius: 15px;
    margin: auto;
    height: 200px;
    width: 290px;
}

.resultado {
    display: flex;
    height: 200px;
}

.painel {
    background-color: var(--branco);
    border: 1px solid var(--preto);
    border-radius: 12px;
    margin: auto;
    height: 185px;
    width: 130px;
}

.amostra {
    height: 142px;
    overflow-y: scroll;
}

.total-saida {
    background-color: var(--cinza-claro);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 12px;
    margin: auto;
    padding: 2px 0 2px 4px;
}

footer {
    color: var(--branco);
    text-align: center;
    margin-top: 1rem;
}


@media screen and (min-width: 600px) {
    .display {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;
        width: 88.88%;
        max-width: 600px;
        height: 270px;
    }

    .entrada {
        margin-left: 1rem;
    }

    input#despesa {
        width: 150px;
    }

    input#valor {
        width: 150px;
    }

    .lista {
        margin: 1rem 1rem 1rem 0;
        width: 200px;
    }

    .saida {
        width: 400px;
    }

    .painel {
        width: 180px;
    }

}
